html,body body{min-height:200vh;}
	.navbar-default{
  		transition:500ms ease;
  		background:transparent;
	}
	.navbar-default.scrolled{
		background-image: linear-gradient(90deg,#215483,#319982);
		  
	}
	.logo.scrolled{
		width: 120px;
		height: 45px;
	}
	.navbar-nav li a:visited{
		color: #319982;
	}
	nav ul{
		padding-right: 80px;
	}
	.carousel-inner .carousel-indicators li{
		width: 15px;
		 height: 15px; 
		 border-radius: 100%;
		 border: 1px solid  #319982;
	}
	.carousel-inner .carousel-indicators li.active{
		background-color: #319982;
	}
	.carousel-item img{
		width: 100%; 
		height: 650px;
		clip-path: ellipse(100% 55% at 48% 44%);
	}
	
	.carousel-item .carousel-caption{
		position: absolute;
		top: 45%; left: 50%;
		transform: translate(-50%, -50%);
	}
	#btn{
		border: none;
		width: 160px;
		height: 60px;
		border-radius: 30px; 
		font-family: inherit;
		color: white;
		background-color: #00FA9A; 	
	}
	.list-unstyled li a{
		 font-size: 17px;
		 font-family: sans-serif;
	 }
	.main-title{
		text-align: center;
		padding-top: 180px;
		color: #215483;
		font-size: 45px;	
	}
	#main-box {
		border-radius: 30px;
		height: 450;
		padding-top: 120px;
		margin-left: 120px;
		margin-right: 120px;
		
	  }
	#main-box .col-lg-10 h3{
		color: rgba(19, 185, 121, 0.815);
		font-size: 30px;
		font-weight: bold;
	}
	#main-box h6{
		padding-top: 25px;
		font-size: 18px;
		color: #215483;
	}
	#main-box span{
		border: 2px solid rgba(19, 185, 121, 0.815);
		padding-left: 7px;
		padding-right: 7px;
	}
	#main-box:hover #Oval-3-Copy-15{
		fill: rgba(19, 185, 121, 0.815);
	}
	#main-box:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.float1 {
		
		float: right;
		height: 450px;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		margin-top: -60px;
	}
	
	.float2{
		position: absolute;
		width: 450px;
		height: 350px;
        top: 60px;
		left: 55px;
		margin-top: -60px;
	}

	.float_1{
		width: 400px;
		height: 450px;
		transform: rotate(180deg);
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}
	
	
	 .row .fade{
		color: #00FFFF;
	 }
	 .fa-facebook{
		padding: 5px;
		width: 40px;
		height: 40px;;
  		text-align: center;
  		text-decoration: none;
		border-radius:10%;
		background-color: #00FFFF;
		 
	 }
	 .fa-linkedin{
		 background-color: none;
		 color: #00FFFF;
		
	 }
	.policy_service{
		color: #00FFFF;
		font-size: 12px;
	}
	.policy_service a{
		color: #00FFFF;
		font-size: 12px;
	}
    